# Version control
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv
env
.venv
ENV
.env

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Test
tests
test
testing
.pytest_cache
.coverage
htmlcov

# Documentation
docs
*.md
LICENSE
README*

# Docker
Dockerfile
docker-compose.yml
.docker

# Other
*.egg-info
dist
build
.DS_Store
k8s/
