attrs==23.2.0
Babel==2.10.3
bcrypt==3.2.2
black==25.1.0
blinker==1.7.0
certifi==2023.11.17
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.6
Flask==2.1.1
gunicorn==20.1.0
idna==3.10
itsdangerous==2.1.1
Jinja2==3.0.0
MarkupSafe==3.0.2
mypy-extensions==1.0.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
pycparser==2.22
python-dotenv==1.0.0
pytz==2025.2
requests==2.32.3
setuptools==78.1.0
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==2.0.2
