apiVersion: v1
kind: Secret
metadata:
  name: word-train-secrets
  labels:
    app: word-train-app
type: Opaque
data:
  SECRET_KEY: <your secret key here>
  # Add any other sensitive configuration parameters here
